header {
    height: 40vh !important;
}


/* WAVE */

.custom-shape-divider-bottom-1646923168 {
    top: calc(40vh - 150px) !important;
}


/* WAVE END */

main {
    display: grid;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: repeat(2, 45%);
    gap: 10%;
    /* justify-items: center; */
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
}

section {
    text-align: center;
}

#bild {
    margin: auto;
    margin-bottom: 30px;
}

#bild img {
    width: 100%;
    margin: auto;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 2ch;
    margin-top: 20px;
}

li{
    list-style-type: none;
    border-style: solid;
    padding: 1.5ch 1ch;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #A7CC5C;
    transition: 0.3s;
}

li:hover {
    transform: scale(1.1);
    color: white;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}